.p-divider {
    .p-divider-content {
        background-color: $panelContentBg;
    }

    &.p-divider-horizontal {
        padding: $dividerHorizontalPadding;
        margin: $dividerHorizontalMargin;

        &::before {
            border-top: $dividerSize $dividerColor;
        }

        .p-divider-content {
            padding: 0 $inlineSpacing;
        }
    }

    &.p-divider-vertical {
        padding: $dividerVerticalPadding;
        margin: $dividerVerticalMargin;

        &::before {
            border-left: $dividerSize $dividerColor;
        }

        .p-divider-content {
            padding: $inlineSpacing 0;
        }
    }
}