.p-toolbar {
    gap: $inlineSpacing;
    padding: $panelHeaderPadding;
    background: $panelHeaderBg;
    border: $panelHeaderBorder;
    border-radius: $borderRadius;

    .p-toolbar-separator {
        margin: 0 $inlineSpacing;
    }
}
