.p-menu {
	width: $menuWidth;
	padding: $verticalMenuPadding;
	color: $menuTextColor;
	background: $menuBg;
	border: $menuBorder;
	border-radius: $borderRadius;

	.p-menuitem {
		@include menuitem-link;
	}

	&.p-menu-overlay {
		background: $overlayMenuBg;
		border: $overlayMenuBorder;
		box-shadow: $overlayMenuShadow;
	}

	.p-submenu-header {
		padding: $submenuHeaderPadding;
		margin: $submenuHeaderMargin;
		font-weight: $submenuHeaderFontWeight;
		color: $submenuHeaderTextColor;
		background: $submenuHeaderBg;
		border-top-left-radius: $submenuHeaderBorderRadius;
		border-top-right-radius: $submenuHeaderBorderRadius;
	}

	.p-menu-separator {
		margin: $menuSeparatorMargin;
		border-top: $divider;
	}
}
