@use 'sass:math';

.p-steps {
    .p-steps-item {
        .p-menuitem-link {
            background: transparent;
            background: $stepsItemBg;
            border-radius: $borderRadius;
            transition: $listItemTransition;

            .p-steps-number {
                z-index: 1;
                min-width: $stepsItemNumberWidth;
                height: $stepsItemNumberHeight;
                font-size: $stepsItemNumberFontSize;
                line-height: $stepsItemNumberHeight;
                color: $stepsItemNumberColor;
                background: $stepsItemBg;
                border: $stepsItemBorder;
                border-radius: $stepsItemNumberBorderRadius;
            }

            .p-steps-title {
                margin-top: $inlineSpacing;
                color: $stepsItemTextColor;
            }

            &:not(.p-disabled):focus-visible {
                @include focused;
            }
        }

        &.p-highlight {
            .p-steps-number {
                color: $highlightTextColor;
                background: $highlightBg;
            }

            .p-steps-title {
                font-weight: $stepsItemActiveFontWeight;
                color: $textColor;
            }
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 100%;
            margin-top: math.div(-1 * $stepsItemNumberHeight, 2);
            content:' ';
            border-top: $divider;
        }
    }
}
