@use 'sass:math';

.p-tag {
    padding: $tagPadding;
    font-size: $badgeFontSize;
    font-weight: $badgeFontWeight;
    color: $badgeTextColor;
    background: $badgeBg;
    border-radius: $borderRadius;

    &.p-tag-success {
        color: $successButtonTextColor;
        background-color: $successButtonBg;
    }

    &.p-tag-info {
        color: $infoButtonTextColor;
        background-color: $infoButtonBg;
    }

    &.p-tag-warning {
        color: $warningButtonTextColor;
        background-color: $warningButtonBg;
    }

    &.p-tag-danger {
        color: $dangerButtonTextColor;
        background-color: $dangerButtonBg;
    }

    .p-tag-icon {
        margin-right: math.div($inlineSpacing, 2);
        font-size: $badgeFontSize;

        &.p-icon {
            width: $badgeFontSize;
            height: $badgeFontSize;
        }
    }
}