.p-terminal {
	padding: $panelContentPadding;
	color: $panelContentTextColor;
	background: $panelContentBg;
	border: $panelContentBorder;

	.p-terminal-input {
		font-family: var(--font-family);
		font-size: $inputTextFontSize;
		font-feature-settings: var(--font-feature-settings, normal);
	}
}
