.p-toast {
    opacity: $toastOpacity;

    .p-toast-message {
        margin: $toastMargin;
        border-radius: $borderRadius;
        box-shadow: $toastShadow;

        .p-toast-message-content {
            padding: $toastPadding;
            border-width: $toastBorderWidth;

            .p-toast-message-text {
                width: 100%;
                max-height: 4.75rem;
                margin: $toastMessageTextMargin;
                margin-right: $inlineSpacing;
                overflow: hidden scroll;

                ul {
                  padding-inline-start: 0;
                  margin-block: 0 0;
              
                  li {
                    display: block;
                  }
                }
            }

            .p-toast-message-icon {
                font-size: $toastIconFontSize;
                
                &.p-icon {
                    width: $toastIconFontSize;
                    height: $toastIconFontSize;
                }
            }


            .p-toast-summary {
                font-weight: $toastTitleFontWeight;
            }

            .p-toast-detail {
                margin: $toastDetailMargin;
            }
        }

        .p-toast-icon-close {
            width: $toastIconFontSize;
            height: $toastIconFontSize;
            background: transparent;
            border-radius: $actionIconBorderRadius;
            transition: $actionIconTransition;

            &:hover {
                background: rgb(255 255 255 / 50%);
            }

            &:focus-visible {
                @include focused;
            }
        }

        &.p-toast-message-info {
            color: $infoMessageTextColor;
            background: $infoMessageBg;
            border: $infoMessageBorder;
            border-width: $messageBorderWidth;

            .p-toast-message-icon,
            .p-toast-icon-close {
                color: $infoMessageIconColor;
            }
        }

        &.p-toast-message-success {
            color: $successMessageTextColor;
            background: $successMessageBg;
            border: $successMessageBorder;
            border-width: $messageBorderWidth;

            .p-toast-message-icon,
            .p-toast-icon-close {
                color: $successMessageIconColor;
            }
        }

        &.p-toast-message-warn {
            color: $warningMessageTextColor;
            background: $warningMessageBg;
            border: $warningMessageBorder;
            border-width: $messageBorderWidth;

            .p-toast-message-icon,
            .p-toast-icon-close {
                color: $warningMessageIconColor;
            }
        }

        &.p-toast-message-error {
            color: $errorMessageTextColor;
            background: $errorMessageBg;
            border: $errorMessageBorder;
            border-width: $messageBorderWidth;

            .p-toast-message-icon,
            .p-toast-icon-close {
                color: $errorMessageIconColor;
            }
        }

    }
}