.p-mention-panel {
    color: $inputListTextColor;
    background: $inputOverlayBg;
    border: $inputOverlayBorder;
    border-radius: $borderRadius;
    box-shadow: $inputOverlayShadow;

    .p-mention-items {
        padding: $inputListPadding;

        .p-mention-item {
            padding: $inputListItemPadding;
            margin: $inputListItemMargin;
            color: $inputListItemTextColor;
            background: $inputListItemBg;
            border: $inputListItemBorder;
            border-radius: $inputListItemBorderRadius;
            transition: $listItemTransition;

            &:hover {
                color: $inputListItemTextHoverColor;
                background: $inputListItemHoverBg;
            }

            &.p-highlight {
                color: $highlightTextColor;
                background: $highlightBg;
            }
        }
    }
}