/* AlibabaPuHuiTi-3-350 */
@font-face {
  font-family: 'PuHuiTi';
  font-style: normal;
  font-weight: 100;
  src: local(''),
      url('./fonts/AlibabaPuHuiTi-3-35-Thin.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/AlibabaPuHuiTi-3-35-Thin.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* AlibabaPuHuiTi-3-450 */
@font-face {
  font-family: 'PuHuiTi';
  font-style: normal;
  font-weight: 200;
  src: local(''),
      url('./fonts/AlibabaPuHuiTi-3-45-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/AlibabaPuHuiTi-3-45-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* AlibabaPuHuiTi-3-550 */
@font-face {
  font-family: 'PuHuiTi';
  font-style: normal;
  font-weight: 300;
  src: local(''),
      url('./fonts/AlibabaPuHuiTi-3-55-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/AlibabaPuHuiTi-3-55-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* AlibabaPuHuiTi-3-650 */
@font-face {
  font-family: 'PuHuiTi';
  font-style: normal;
  font-weight: 400;
  src: local(''),
      url('./fonts/AlibabaPuHuiTi-3-65-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/AlibabaPuHuiTi-3-65-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* AlibabaPuHuiTi-3-750 */
@font-face {
  font-family: 'PuHuiTi';
  font-style: normal;
  font-weight: 500;
  src: local(''),
      url('./fonts/AlibabaPuHuiTi-3-75-SemiBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/AlibabaPuHuiTi-3-75-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* AlibabaPuHuiTi-3-850 */
@font-face {
  font-family: 'PuHuiTi';
  font-style: normal;
  font-weight: 600;
  src: local(''),
      url('./fonts/AlibabaPuHuiTi-3-85-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/AlibabaPuHuiTi-3-85-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* AlibabaPuHuiTi-3-950 */
@font-face {
  font-family: 'PuHuiTi';
  font-style: normal;
  font-weight: 700;
  src: local(''),
      url('./fonts/AlibabaPuHuiTi-3-95-ExtraBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/AlibabaPuHuiTi-3-95-ExtraBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* AlibabaPuHuiTi-3-1050 */
@font-face {
  font-family: 'PuHuiTi';
  font-style: normal;
  font-weight: 800;
  src: local(''),
      url('./fonts/AlibabaPuHuiTi-3-105-Heavy.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/AlibabaPuHuiTi-3-105-Heavy.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* AlibabaPuHuiTi-3-1150 */
@font-face {
  font-family: 'PuHuiTi';
  font-style: normal;
  font-weight: 900;
  src: local(''),
      url('./fonts/AlibabaPuHuiTi-3-115-Black.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/AlibabaPuHuiTi-3-115-Black.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}