.p-datascroller {
    .p-paginator-top {
        border-width: $tableTopPaginatorBorderWidth;
        border-radius: 0;
    }

    .p-paginator-bottom {
        border-width: $tableBottomPaginatorBorderWidth;
        border-radius: 0;
    }

    .p-datascroller-header {
        padding: $tableHeaderPadding;
        font-weight: $tableHeaderFontWeight;
        color: $tableHeaderTextColor;
        background: $tableHeaderBg;
        border: $tableHeaderBorder;
        border-width: $tableHeaderBorderWidth;
    }

    .p-datascroller-content {
        padding: $dataViewContentPadding;
        color: $tableBodyRowTextColor;
        background: $tableBodyRowBg;
        border: $dataViewContentBorder;
    }

    &.p-datascroller-inline {
        .p-datascroller-list {
            > li {
                border: $dataViewListItemBorder;
                border-width: $dataViewListItemBorderWidth;
            }
        }
    }

    .p-datascroller-footer {
        padding: $tableFooterPadding;
        font-weight: $tableFooterFontWeight;
        color: $tableFooterTextColor;
        background: $tableFooterBg;
        border: $tableFooterBorder;
        border-width: $tableFooterBorderWidth;
        border-bottom-right-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }
}
