.p-splitbutton {
    border-radius: $borderRadius;

    &.p-button-outlined {
        > .p-button {
            color: $buttonBg;
            background-color: transparent;
            border: $outlinedButtonBorder;

            &:not(:disabled):hover {
                color: $buttonBg;
                background: rgba($buttonBg, $textButtonHoverBgOpacity);
            }

            &:not(:disabled):active {
                color: $buttonBg;
                background: rgba($buttonBg, $textButtonActiveBgOpacity);
            }
        }

        &.p-button-plain {
            > .p-button {
                color: $plainButtonTextColor;
                border-color: $plainButtonTextColor;

                &:not(:disabled):hover {
                    color: $plainButtonTextColor;
                    background: $plainButtonHoverBgColor;
                }
        
                &:not(:disabled):active {
                    color: $plainButtonTextColor;
                    background: $plainButtonActiveBgColor;
                }
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: $buttonBg;
            background-color: transparent;
            border-color: transparent;

            &:not(:disabled):hover {
                color: $buttonBg;
                background: rgba($buttonBg, $textButtonHoverBgOpacity);
                border-color: transparent;
            }

            &:not(:disabled):active {
                color: $buttonBg;
                background: rgba($buttonBg, $textButtonActiveBgOpacity);
                border-color: transparent;
            }
        }

        &.p-button-plain {
            > .p-button {
                color: $plainButtonTextColor;

                &:not(:disabled):hover {
                    color: $plainButtonTextColor;
                    background: $plainButtonHoverBgColor;
                }
        
                &:not(:disabled):active {
                    color: $plainButtonTextColor;
                    background: $plainButtonActiveBgColor;
                }
            }
        }
    }

    &.p-button-raised {
        box-shadow: $raisedButtonShadow;
    }

    &.p-button-rounded {
        border-radius: $roundedButtonBorderRadius;

        > .p-button {
            border-radius: $roundedButtonBorderRadius;
        }
    }

    &.p-button-sm {
        > .p-button {
            @include scaledFontSize($fontSize, $scaleSM);
            @include scaledPadding($buttonPadding, $scaleSM);

            .p-button-icon {
                @include scaledFontSize($primeIconFontSize, $scaleSM);
            }
        }
    }

    &.p-button-lg {
        > .p-button {
            @include scaledFontSize($fontSize, $scaleLG);
            @include scaledPadding($buttonPadding, $scaleLG);

            &.p-button-icon-only {
                width: auto;
            }
            
            .p-button-icon {
                @include scaledFontSize($primeIconFontSize, $scaleLG);
            }
        }
    }
    
    .p-splitbutton-menubutton,
    .p-splitbutton.p-button-rounded > .p-splitbutton-menubutton.p-button,
    .p-splitbutton.p-button-outlined > .p-splitbutton-menubutton.p-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.p-splitbutton.p-button-secondary {    
    &.p-button-outlined {
        > .p-button {
            color: $secondaryButtonBg;
            background-color: transparent;
            border: $outlinedButtonBorder;

            &:not(:disabled):hover {
                color: $secondaryButtonBg;
                background: rgba($secondaryButtonBg, $textButtonHoverBgOpacity);
            }

            &:not(:disabled):active {
                color: $secondaryButtonBg;
                background: rgba($secondaryButtonBg, $textButtonActiveBgOpacity);
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: $secondaryButtonBg;
            background-color: transparent;
            border-color: transparent;

            &:not(:disabled):hover {
                color: $secondaryButtonBg;
                background: rgba($secondaryButtonBg, $textButtonHoverBgOpacity);
                border-color: transparent;
            }

            &:not(:disabled):active {
                color: $secondaryButtonBg;
                background: rgba($secondaryButtonBg, $textButtonActiveBgOpacity);
                border-color: transparent;
            }
        }
    }
}

.p-splitbutton.p-button-info {
    &.p-button-outlined {
        > .p-button {
            color: $infoButtonBg;
            background-color: transparent;
            border: $outlinedButtonBorder;

            &:not(:disabled):hover {
                color: $infoButtonBg;
                background: rgba($infoButtonBg, $textButtonHoverBgOpacity);
            }

            &:not(:disabled):active {
                color: $infoButtonBg;
                background: rgba($infoButtonBg, $textButtonActiveBgOpacity);
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: $infoButtonBg;
            background-color: transparent;
            border-color: transparent;

            &:not(:disabled):hover {
                color: $infoButtonBg;
                background: rgba($infoButtonBg, $textButtonHoverBgOpacity);
                border-color: transparent;
            }

            &:not(:disabled):active {
                color: $infoButtonBg;
                background: rgba($infoButtonBg, $textButtonActiveBgOpacity);
                border-color: transparent;
            }
        }
    }
}

.p-splitbutton.p-button-success {
    &.p-button-outlined {
        > .p-button {
            color: $successButtonBg;
            background-color: transparent;
            border: $outlinedButtonBorder;

            &:not(:disabled):hover {
                color: $successButtonBg;
                background: rgba($successButtonBg, $textButtonHoverBgOpacity);
            }

            &:not(:disabled):active {
                color: $successButtonBg;
                background: rgba($successButtonBg, $textButtonActiveBgOpacity);
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: $successButtonBg;
            background-color: transparent;
            border-color: transparent;

            &:not(:disabled):hover {
                color: $successButtonBg;
                background: rgba($successButtonBg, $textButtonHoverBgOpacity);
                border-color: transparent;
            }

            &:not(:disabled):active {
                color: $successButtonBg;
                background: rgba($successButtonBg, $textButtonActiveBgOpacity);
                border-color: transparent;
            }
        }
    }
}

.p-splitbutton.p-button-warning {
    &.p-button-outlined {
        > .p-button {
            color: $warningButtonBg;
            background-color: transparent;
            border: $outlinedButtonBorder;

            &:not(:disabled):hover {
                color: $warningButtonBg;
                background: rgba($warningButtonBg, $textButtonHoverBgOpacity);
            }

            &:not(:disabled):active {
                color: $warningButtonBg;
                background: rgba($warningButtonBg, $textButtonActiveBgOpacity);
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: $warningButtonBg;
            background-color: transparent;
            border-color: transparent;

            &:not(:disabled):hover {
                color: $warningButtonBg;
                background: rgba($warningButtonBg, $textButtonHoverBgOpacity);
                border-color: transparent;
            }

            &:not(:disabled):active {
                color: $warningButtonBg;
                background: rgba($warningButtonBg, $textButtonActiveBgOpacity);
                border-color: transparent;
            }
        }
    }
}

.p-splitbutton.p-button-help {
    &.p-button-outlined {
        > .p-button {
            color: $helpButtonBg;
            background-color: transparent;
            border: $outlinedButtonBorder;

            &:not(:disabled):hover {
                color: $helpButtonBg;
                background: rgba($helpButtonBg, $textButtonHoverBgOpacity);
            }

            &:not(:disabled):active {
                color: $helpButtonBg;
                background: rgba($helpButtonBg, $textButtonActiveBgOpacity);
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: $helpButtonBg;
            background-color: transparent;
            border-color: transparent;

            &:not(:disabled):hover {
                color: $helpButtonBg;
                background: rgba($helpButtonBg, $textButtonHoverBgOpacity);
                border-color: transparent;
            }

            &:not(:disabled):active {
                color: $helpButtonBg;
                background: rgba($helpButtonBg, $textButtonActiveBgOpacity);
                border-color: transparent;
            }
        }
    }
}

.p-splitbutton.p-button-danger {
    &.p-button-outlined {
        > .p-button {
            color: $dangerButtonBg;
            background-color: transparent;
            border: $outlinedButtonBorder;

            &:not(:disabled):hover {
                color: $dangerButtonBg;
                background: rgba($dangerButtonBg, $textButtonHoverBgOpacity);
            }

            &:not(:disabled):active {
                color: $dangerButtonBg;
                background: rgba($dangerButtonBg, $textButtonActiveBgOpacity);
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: $dangerButtonBg;
            background-color: transparent;
            border-color: transparent;

            &:not(:disabled):hover {
                color: $dangerButtonBg;
                background: rgba($dangerButtonBg, $textButtonHoverBgOpacity);
                border-color: transparent;
            }

            &:not(:disabled):active {
                color: $dangerButtonBg;
                background: rgba($dangerButtonBg, $textButtonActiveBgOpacity);
                border-color: transparent;
            }
        }
    }
}