code[class*="language-"],
pre[class*="language-"] {
    font-family: ui-monospace,SFMono-Regular,"SF Mono",Menlo,Consolas,"Liberation Mono",monospace;
    hyphens: none;
    line-height: 1.5;
    text-align: left;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    white-space: pre;
    background: none;
    word-spacing: normal;
}

div.code-toolbar > .toolbar {
    display: none;
}


pre[class*="language-"] {
    position: relative;
    max-height: 40rem;
    padding: 0;
    margin: 0;
    overflow: auto;
    color-scheme: dark;
    background: transparent;

    &::before, &::after {
        display: none !important;
    }

    code {
        display: block;
        height: inherit;
        max-height: inherit;
        padding: 0 1rem;
        margin: 0;
        overflow: auto;
        font-size: 14px;
        color: #fff;
        border-left: 1rem solid transparent;
        border-radius: 10px;
        box-shadow: none;
        
        .token.comment,
        .token.block-comment,
        .token.prolog,
        .token.doctype,
        .token.cdata {
            color: #bbf7d0;
        }

        .token.punctuation {
            color: #bfdbfe;
        }

        .token.property,
        .token.tag,
        .token.boolean,
        .token.number,
        .token.function-name,
        .token.constant,
        .token.symbol,
        .token.deleted {
            color: #93c5fd;
        }

        .token.selector,
        .token.attr-name,
        .token.string,
        .token.char,
        .token.function,
        .token.builtin,
        .token.inserted {
            color: #eff6ff;
        }

        .token.operator,
        .token.entity,
        .token.url,
        .token.variable {
            color: #fff;
        }

        .token.atrule,
        .token.attr-value,
        .token.keyword,
        .token.class-name {
            color: #bbf7d0;
        }

        .token.regex,
        .token.important {
            color: #fde68a;
        }

        .language-css .token.string,
        .style .token.string {
            color: #fde68a;
        }

        .token.important {
            font-weight: normal;
        }

        .token.bold {
            font-weight: bold;
        }

        .token.italic {
            font-style: italic;
        }

        .token.entity {
            cursor: help;
        }
    }
}

.copy-to-clipboard-button {
    display: none;
}

pre[class*="language-"] {    
    code {
        background: var(--codebg);
    }
}

.layout-light {
    &[data-p-theme^="md"] {
        pre[class*="language-"] {    
            code {
                background: var(--surface-900);
            }
        }
    }
}