.doc-component {
  flex: 1 1 0;
  min-width: 0;
}

.doc-main {
  min-width: 0;

  .card {
    margin-bottom: 1rem;
    background: var(--surface-card);
    border: var(--card-border);
    border-radius: 0;
  }
}

.doc-intro {
  margin-bottom: 1.5rem;

  p {
    margin: 0;
    font-size: 1.125rem;
    color: var(--surface-900);
  }
}

.doc-section-label {
  display: flex;
  align-items: center;
  scroll-margin-top: 6.5rem;

  > a {
    display: none;
    margin-left: 1rem;
    color: var(--primary-color);
    border-radius: var(--border-radius);
    opacity: 0.7;
    transition: all .2s;

    @include focus-visible;
  }

  &:hover {
    > a {
      display: block;

      &:hover {
          opacity: 1;
      }
    }
  }
}

.doc-section-description {
  > p {
    font-size: 1.125rem;
    color: var(--surface-900);

    i {
      padding: 2px 6px;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      color: var(--doc-highlight-text-color);
      background-color: var(--doc-highlight-text-bg);
      border-radius: 6px;
    }

    a {
      font-weight: 500;
      color: var(--primary-color);
      border-radius: var(--border-radius);
      transition: all .2s;

      @include focus-visible;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .notification {
    padding: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--doc-highlight-text-color);
    background-color: var(--doc-highlight-text-bg);
    border-radius: 10px;
  }
}

.doc-section-code { 
    position: relative;
    
    div {
        &::-webkit-scrollbar {
            width: 5px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &:hover {
        .doc-section-code-buttons {
            display: flex;
        }
    }
}

.doc-section-code-buttons {
    position: absolute;
    top: .75rem;
    right: .75rem;
    z-index: 1;
    display: none;
    gap: .5rem;
    align-items: center;
    justify-content: end;
    padding: 2px;
    background: rgb(255 255 255 / 5%);
    backdrop-filter: blur(6px);
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 10px;
    
    button {
        color: var(--code-button-color);
        cursor: pointer;
        background-color: transparent;
        border: 0 none;
        border-radius: 8px;
        outline: 0 none;
        outline-offset: 0;
        transition: background-color .2s, box-shadow .2s;

        &:hover {
            color: var(--code-button-hover-color);
            background-color: var(--code-button-hover-bg);
        }

        &.code-active {
            color: #bbf7d0;
        }
    }
}

.doc-section-code-tooltip .p-tooltip-text {
    padding: 0.5rem;
    font-size: 11px;
}

.doc-tablewrapper {
    overflow: auto;
}

.doc-table {
    width: 100%;
    min-width: 960px;
    margin-bottom: 1.5rem;
    border-collapse: collapse;

    th {
        padding: .75rem 1rem;
        text-align: left;
        text-transform: capitalize;
        border-bottom: 1px solid var(--surface-border);
    }

    tbody {
        tr:hover {
            background: var(--surface-hover);
        }

        td {
            padding: .75rem 1rem;
            line-height: 1.5;
            white-space: pre-line;
            border-bottom: 1px solid var(--surface-border);
            scroll-margin-top: 6.5rem;

            &:first-child {
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
                font-weight: 600;
                color: var(--primary-color);
            }

            .doc-option-type {
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
                font-weight: 500;
                color: var(--primary-500);

                .doc-option-type-options-container {
                    display: flex;
                    align-items: center;
                }

                span.doc-option-type-options {
                    color: var(--primary-700);
                }

                &.doc-option-link {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .doc-option-name,
            > i:not(.pi) {
                position: relative;
                padding: 2px 6px;
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
                font-style: normal;
                font-weight: 600;
                color: var(--doc-highlight-text-color);
                white-space: nowrap;
                background-color: var(--doc-highlight-text-bg);
                border-radius: 6px;
                scroll-margin-top: 6.5rem;

                .doc-option-link {
                    position: absolute;
                    top: 0;
                    right: -1.5rem;
                    display: none;
                    color: var(--primary-color);
                    opacity: 0.7;
                    transition: opacity 0.3s, colors 0.3s;
                }
            }

            &:hover {
                .doc-option-name {
                    .doc-option-link {
                        display: inline;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            .doc-option-default,
            .doc-option-returnType {
                display: flex;
                max-width: min-content;
                padding: 2px 6px;
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
                font-style: normal;
                font-weight: 400;
                border-style: solid;
                border-width: 1px;
                border-radius: 6px;
            }

            .doc-option-parameter-name {
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
                color: var(--primary-700);
            }

            .doc-option-parameter-type {
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
                color: var(--primary-500);
            }

            .doc-option-params {
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
            }

            .doc-option-light {
                background: var(--bluegray-50);
                border-color: var(--bluegray-100);
            }

            .doc-option-dark {
                background: var(--bluegray-800);
                border-color: var(--bluegray-800);
            }
        }
    }
}
