.layout-topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    width: calc(100% - var(--scrollbar-width, 0px));
    border-bottom: 1px solid transparent;
    transition: background-color .5s, border-color .5s;

    &.layout-topbar-sticky {
        background-color: var(--topbar-sticky-bg);
        backdrop-filter: blur(8px);
        border-bottom: 1px solid var(--surface-border);
    }
}

.layout-topbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 4rem;

    .layout-topbar-logo-container {
        width: 250px;
        margin-right: 4rem;
    }

    .layout-topbar-logo,
    .layout-topbar-icon {
        border-radius: var(--border-radius);

        @include focus-visible;
    }

    .layout-topbar-logo {
        display: inline-flex;

        svg {
            width: 165px;
        }
    }

    .layout-topbar-icon {
        display: none;

        svg {
            width: 36px;
        }
    }
    
    .menu-button {
        display: none;
    }
}